# builded files
/bin/devel.lib.sh
/bin/ruby.lib.sh
/bin/python.lib.sh
/bin/file.lib.sh
/bin/file_inspect
/bin/cert.lib.sh
/bin/cert_*
/bin/golang.lib.sh
/bin/http.lib.sh
/bin/ssh.lib.sh
/bin/ssh_*
/bin/ruby_extrash.lib.sh
/bin/uuid_gen
/bin/editors.lib.sh
/bin/freebsd.sh
/bin/game_age3_setup.sh
/bin/git*
